button{
    background-color: transparent;
    color: white;
}

.bar {
    /* background-color: #000; */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2%;
}

.black {
    background-color: #000;
}

.text{
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    vertical-align:6px;
    margin-left: 5px;
}