<div class="content">
    <div class="mat-card">
        <div class="title">
                <div >
                    <p>{{this.hospital?.hospital}}</p>
                    <h1>Information</h1>
                </div>
                <div class="self_check">
                    <input  type="checkbox" class="check_box" [checked]="!edit" (click)="edit"/>
                    <p>Self Review Hospital</p>
                </div>
                <button [class.edit]="!edit" (click)="editContent()" [disabled]="edit">Edit</button>
        </div>
        <div class="mat-card-content">
            <div class="two_content">
                <div class="input_set">
                    <label>Name *</label>
                    <input [disabled]="true" [value]="this.hospital?.hospital"/>
                </div>
                <div class="input_set">
                    <label>Initial *</label>
                    <input [disabled]="true" [value]="this.hospital?.name"/>
                </div>
            </div>
            <div class="three_content">
                <div class="input_set">
                    <label>State *</label>
                    <input [disabled]="!edit" [value]="this.hospital?.location.state"/>
                </div>
                <div class="input_set">
                    <label>City *</label>
                    <input [disabled]="!edit" [value]="this.hospital?.location.city"/>
                </div>
                <div class="input_set">
                    <label>Zip Code *</label>
                    <input [disabled]="!edit" [value]="this.hospital?.location.zipCode"/>
                </div>
            </div>
            <div class="two_content">
                <div class="input_set">
                    <label>Street Address *</label>
                    <input [disabled]="!edit" [value]="this.hospital?.location.address"/>
                </div>
                <div class="input_set">
                    <label>Street Address2</label>
                    <input [disabled]="!edit" [value]="this.hospital?.location.address2"/>
                </div>
            </div>
            <div class="three_content">
                <div class="input_set">
                    <label>Contact Name *</label>
                    <input [disabled]="!edit" [value]="this.hospital?.contact.name"/>
                </div>
                <div class="input_set">
                    <label>Contact Phone *</label>
                    <input [disabled]="!edit" [value]="this.hospital?.contact.phone"/>
                </div>
                <div class="input_set">
                    <label>Contact Email *</label>
                    <input [disabled]="!edit" [value]="this.hospital?.contact.email"/>
                </div>
            </div>
            <div class="two_content">
                <div class="input_set">
                    <label>No. of Bed Sold *</label>
                    <input [disabled]="!edit" [value]="this.hospital?.purchase.beds"/>
                </div>
                <div class="input_set">
                    <label>No. of Device Sold</label>
                    <input [disabled]="true" [value]="this.hospital?.purchase.devices"/>
                </div>
            </div>
            <div class="two_content">
                <div class="input_set">
                    <label>Contact Start Date</label>
                    <input type="date" [disabled]="!edit" [value]="this.hospital?.date.startDate|date:'YYYY-MM-dd'" pattern="\d{2}/\d{2}/\d{4}"/>
                </div>
                <div class="input_set">
                    <label>Contact Expiration Date</label>
                    <input type="date" [disabled]="!edit" [value]="this.hospital?.date.expirationDate|date:'YYYY-MM-dd'"/>
                </div>
            </div>
        </div>
        <div class="disabled">
            <button [class.cancel]="edit" (click)="editContent()" [disabled]="!edit">Cancel</button>
            <button [class.save]="edit" [disabled]="!edit">Save</button>
        </div>
    </div>
</div>